<div class="trade-manager">
  <div class="properties-section">
    <h3>Your Properties</h3>
      <div class="properties-content">
        <app-trade-manager-properties 
          [playerId]="playerId"
          [tradePartner]="false">
        </app-trade-manager-properties>
        <app-trade-manager-money
          [playerId]="playerId"
          [tradePartner]="false">
        </app-trade-manager-money>
      </div>
    </div>

  @if (tradePartnerId() > 0) {
    <div class="properties-section">
      <h3>{{ selectedTradePartner?.name }}'s Properties</h3>
      <div class="properties-content">
        <app-trade-manager-properties 
          [playerId]="tradePartnerId"
          [tradePartner]="true">
        </app-trade-manager-properties>      
        <app-trade-manager-money
          [playerId]="tradePartnerId"
          [tradePartner]="true">
        </app-trade-manager-money>
      </div>
    </div>
  }
  @else {
    <h2>Select a trade partner to trade with</h2>
  }
  
  <div class="player-buttons">
    @for (player of otherPlayers; track player.id) {
      <button class="player-button" 
              [class.selected]="tradePartnerId() === player.id"
              (click)="selectTradePartner(player.id)">
        <img src="user_icon.png" alt="User Icon" class="user-icon">
        <span class="player-name">{{ player.name }}</span>
      </button>
    } @empty {
      <div class="no-players">No other players available for trading</div>
    }
  </div>
  <button
    class="cancel-request-button"
    (click)="onCancelRequestClick()">
    Cancel Request
  </button>
  <button 
    class="request-trade-button"
    [disabled]="!tradeService.canRequestTrade()"
    (click)="onRequestTradeClick()">
    Request Trade
  </button>
</div>
