<div class="background-container">
  <router-outlet></router-outlet>
  <div class="first-row">
    <img src="simple_board_dark.png" class="game-board" />
    <div>
      <div class="player-info">Here comes the player name and his balance</div>
      <div class="finance-info">
        <button class="nav-btn prev" (click)="onButtonPreviousClick()">
          <img src="arrow_back.png" />
        </button>
        <div class="nav-dots">
          @if (selectedDataField === 0) {
          <span class="dot active"></span>
          } @else {
          <span class="dot"></span>
          } @if (selectedDataField === 1) {
          <span class="dot active"></span>
          } @else {
          <span class="dot"></span>
          } @if (selectedDataField === 2) {
          <span class="dot active"></span>
          } @else {
          <span class="dot"></span>
          }
        </div>
        <button class="nav-btn next" (click)="onButtonNextClick()">
          <img src="arrow_forward.png" />
        </button>
      </div>
      <div>
        <!-- Replace the anchor elements with the three component (player-overview, own-holdings, all-holdings)-->
        @switch (selectedDataField) { 
          @case (0) {
            <a class="player-info">0</a>
          }
          @case (1) {
            <a class="player-info">1</a>
          }
          @case (2) {
            <a class="player-info">2</a>
          }
        }
      </div>
    </div>
  </div>
  <div class="property-row">
    <!-- Later: @for displaying the property cards the player owns (maybe in a new component) -->
  </div>
</div>
