<div class="background-container">
	<router-outlet></router-outlet>
	<div>
    <label for="playerId">Player ID:</label>
    <input type="number" id="playerId" [(ngModel)]="dummyPlayerId">
  </div>
  <div>
    <label for="gameId">Game ID:</label>
    <input type="number" id="gameId" [(ngModel)]="dummyGameId">
  </div>
	<button (click)="navigateToGameView()">
		Zum Testspiel
	</button>
</div>

<!--<header class="header">
		<h1>Willkommen bei Monopoly Holdings</h1>
		<p>Das ultimative Spiel um Reichtum und Strategie!</p>
	</header>

	<main class="main-content">
		<section class="hero">
			<h2>Werde zum Immobilien-Tycoon!</h2>
			<p>Kaufe, verkaufe und handle Grundstücke, baue dein Imperium auf und dominiere den Markt.</p>
			<button class="cta-button">Jetzt spielen!</button>
		</section>

		<section class="features">
			<div class="feature">
				<h3>Strategisches Gameplay</h3>
				<p>Plane deine Züge sorgfältig und überliste deine Gegner.</p>
			</div>
			<div class="feature">
				<h3>Baue dein Imperium</h3>
				<p>Erwirb prestigeträchtige Immobilien und erhöhe deine Mieteinnahmen.</p>
			</div>
			<div class="feature">
				<h3>Multiplayer-Spaß</h3>
				<p>Spiele mit Freunden und Familie und finde heraus, wer der wahre Monopolist ist.</p>
			</div>
		</section>
	</main>

	<footer class="footer">
		<p>&copy; 2024 Monopoly Holdings. Alle Rechte vorbehalten.</p>
	</footer> -->