.background-container{
  width: 100%;
  height: 100vh;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*.landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url('/client/src/assets/dice1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

*/