<div class="property-list">
    @for (userProperty of properties(); track userProperty.property.id) {
        <img 
            [src]="'/reel_estate_cards/Folie' + userProperty.property.assetId + '.png'" 
            alt="Property Card"
            (click)="onPropertyClick(userProperty)"
            class="property-card"
        >
    }
</div>

@if (showOverlay && selectedProperty()) {
    <app-game-property-popup 
        [selectedProperty]="selectedProperty()!"
        (showOverlay)="onOverlayClose($event)">
    </app-game-property-popup>
}